<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%5p %d [%t] (%F:%L) - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <appender-ref ref="Console" level="info"/>
        </Root>
        <Logger name="org.apache" level="warn" additivity="false">
            <appender-ref ref="Console" level="warn"/>
        </Logger>
    </Loggers>
</Configuration>
